
<%= render 'pages/home' %>


  <%if user_signed_in? %>
 <div class="well">
    <h1>Hi <%= current_user.name %> </h1>
 </div>
<%else %>
  <div class="well">
   <h4>
      If only we knew then what we know now.
    </h4>
    <p>
      <%= link_to "sign UP", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "sign IN", new_user_session_path, class: "btn btn-primary" %>
    </p>
  </div>

  <%end %>

<div class="sort">
  sort TiWILs by
  <%= link_to 'Most Popular', '#', class: "btn btn-small" %> 
  <%= link_to 'Indesign', '#', class: "btn btn-small" %>
  <%= link_to 'Illustrator', '#', class: "btn btn-small" %> 
  <%= link_to 'Photoshop', '#', class: "btn btn-small" %>
  <%= link_to 'Print Production', '#', class: "btn btn-small" %>
  <%= link_to 'Clients', '#', class: "btn btn-small" %>
  <%= link_to 'Web', '#', class: "btn btn-small" %>
</div>

<div id="pins">
  <%= render @pins %>
</div>





